@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$primary-soft-blue:hsl(215, 51%, 70%);
$primary-cyan:hsl(178, 100%, 50%);
$neutral-darkblue-main:hsl(217, 54%, 11%);
$neutral-darkblue-card:hsl(216, 50%, 16%);
$neutral-very-darkblue-line:hsl(215, 32%, 27%);
$neutral-white:hsl(0, 0%, 100%);
$para-font-size: 1.125rem;
$mobile: 23.4375rem;
@mixin flexCenter ($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr{
  color: $neutral-very-darkblue-line;
}

body{
  background-color: $neutral-darkblue-main;
  height: 100vh;
  @include flexCenter(column);
  font-family: Outfit;
  color: $primary-soft-blue;
  line-height: 1.5;
  font-weight: 300;
  font-size: $para-font-size;
}
.card{
  width: 21.25rem;
  padding: 1.25rem;
  background-color: $neutral-darkblue-card;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  border-radius: 0.9375rem;
  box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.153);

  &__image{
    position: relative;
  }

  &__img{
    width: 100%;
    border-radius: 0.625rem;
    display: block;
  }

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(178, 100%, 50%, 0.465);
    width: 100%;
    height: 100%;
    @include flexCenter(row);
    border-radius: 0.625rem;
    opacity: 0;
    transition: opacity .15s;

    &:hover{
      opacity: 1;
      cursor: pointer;
    }
  }

  &__title{
    font-size: 1.375rem;
    color: $neutral-white;

    &:hover{
      color: $primary-cyan;
      cursor: pointer;
    }
  }

  &__stats, &__items, &__footer{
    @include flexCenter(row);
    justify-content: space-between;
  }

  &__items{
    gap: 0.375rem;
  }

  &__item2 , &__item4, &__footer__creator{
    font-size: 1rem;    
  }

  &__item2{
    font-weight: 600;
    color: $primary-cyan;
  }

  &__footer{
    width: 14.375rem;

    &__img{
      width: 2.1875rem;
      border-radius: 100%;
      border: 0.125rem solid $neutral-white;
    }

    &__name{
      color: $neutral-white;
      font-weight: 400;

      &:hover{
        color: $primary-cyan;
        cursor: pointer;
      }
    }
  }
}

.footer{
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 3.125rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}